*,*::after, *::before{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E5E5E5;
    margin: 0px;
    box-sizing: border-box;
    background-color:;
}
.container1{
    width: 80%;
    margin:0px auto;
}

nav{
    height: 10vh;
    background-color:#A68790;
    color: black;
    width: 80vw;
    font-size: 24px;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 10vh;

}
nav ul li{
list-style: none;
width: 15vw;
text-align: center;
border-radius: 5px 5px 0px 0px;
color: #000;
} 
nav ul li:hover {
background-color: #E5E5E5;
width: 15vw;

}


nav ul li a{
    text-decoration: none;
    color: black;
    
}

.images{
    width: 80%;
    display: flex;
    height:35vh;
    
}
.img{
    width:20vw;
}
article{
    font-size: 22px;
    margin: 0px auto;
    height: 40vh;
    width: 80vw;
    background-image: linear-gradient(to bottom, #66cccc, #66cc) ;
}
footer{
    background-color: black;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.socialmedia img{
    width: 5vw;
    height: 5vh;
    margin-right: 10px;
    
    
    }

    .socialmedia{
        display: flex;
        /* width:25vw; */
        justify-content: space-evenly;
    }
    /* .copyright{
        width: 25vw
    } */
.imagep{
    width: 80vw;
    height: 30vh;
    background-image: url("./images/prog3.jpg");
    background-size: cover;
}
.container2{
    width: 80%;
    margin:0px auto;

   
}
.sec1,.sec2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}
.anitas, .band, .stopwatch, .tec{
    border: 1px solid gray;
    width: 35vw;
    box-shadow: 0px 0px 5px grey ;
    font-size: 22px;
    border-radius:;
}
.project1{

    background-image: linear-gradient( to bottom,#817e7f, #ba4552  );
}
.abt{
    background-image: url("./images/bg.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    

}
.mypic{
    z-index: -10;
    right: 30px;
    transform: rotate(-30deg);
    transform: 0.2s ease;
     height: 40vh;
    width: 30vw;
}
.ft{
    position:absolute;
    bottom: 0px;
}
.unie{
    margin: 10px 0px;
    width: 40vh;
}
.unie h2{
    margin-top: 20px;
}
.imagep img{
    height: 20vh;
    width: 40vw;
    margin-left: 10px;
}
.imagep>p{
    font-size: 23px;
}
article marquee{
    position: absolute;
    padding-bottom:10px;
    font-size: 20px;
}