*,*::after, a::before{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E5E5E5;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin:0px auto;
}
.images{
    width
}